.menu-page:before {
    display: none;
}

.menu-page:after {
    display: none;
}

.menu-page {
    margin: 0;
    padding: 0;
    /* overflow: hidden !important; */
}

.menu-page {
    width: 100%;
    height: 476px;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5% 2% 2% 2%;
    border-radius: 10px 10px 10px 10px;
    background-color: #cacaca00 !important;
    box-shadow: 0 0 15px 10px #cacaca00 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .menu-page::-webkit-scrollbar {
    display: none;
  } */

/* Hide scrollbar for [IE, Edge] and Firefox */
/* .menu-page {
-ms-overflow-style: none;  
scrollbar-width: none; 
} */

