/* NASA font */
@font-face {
    font-family: 'Nasa';
    src: url('../fonts/nasa/nasa.eot');
    src: url('../fonts/nasa/nasa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nasa/nasa.woff2') format('woff2'),
        url('../fonts/nasa/nasa.woff') format('woff'),
        url('../fonts/nasa/nasa.ttf') format('truetype'),
        url('../fonts/nasa/nasa.svg#nasa') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Custom icons */
@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons/icomoon.eot');
    src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff2') format('woff2'),
        url('../fonts/icons/icomoon.woff') format('woff'),
        url('../fonts/icons/icomoon.ttf') format('truetype'),
        url('../fonts/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* outline */
.container {
    border: 1px solid red;
}

.outline {
    border: 1px dashed green;
}

/* end of outline */

.hide {
    display: none !important;
}

#horiline {
    border: 2px solid blue;
}

/* end of help */

:root {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif !important;
    color: black !important;
    text-shadow: 1px 1px rgba(0,0,0,0.16), 2px 2px rgba(0,0,0,0.12);
}

.col, .col-1, .col-2, .col-3,.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 0 !important;
    padding: 0 !important;
}

.master {
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
    max-height: 100vh !important;
    height: 100vh !important;
    max-width: 100vw !important;
}

.top-container {
    position: absolute !important;
    padding: 15px 0 !important;
    max-width: 100% !important;
    background: grey;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.top-row {
    max-width: 100% !important;
    margin: 0 !important;
    font-size: 0.75rem;
}

#brand {
    padding: 0 !important;
    margin-left: 20px !important;
    line-height: 0.8;
}

#unilogo {
    font-family: "Icons", sans-serif;
    font-size: 2rem;
    padding: 0 0.2rem 0 0;
}

#daynight {
    padding: 0 !important;
    float: right !important;
    margin-right: 20px !important;
}

#middle {
    position: absolute !important;
    max-width: 100% !important;
    max-height: 100% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;

}

#bottom {
    position: fixed !important;
    bottom: 0;
}