/* NASA font */
@font-face {
    font-family: 'Nasa';
    src: url('../fonts/nasa/nasa.eot');
    src: url('../fonts/nasa/nasa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nasa/nasa.woff2') format('woff2'),
        url('../fonts/nasa/nasa.woff') format('woff'),
        url('../fonts/nasa/nasa.ttf') format('truetype'),
        url('../fonts/nasa/nasa.svg#nasa') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Custom icons */
@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons/icomoon.eot');
    src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff2') format('woff2'),
        url('../fonts/icons/icomoon.woff') format('woff'),
        url('../fonts/icons/icomoon.ttf') format('truetype'),
        url('../fonts/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px !important;
    color: #1d1d1d !important;
    text-shadow: 1px 1px #dadada;
}

canvas {
    height: 100%;
    width: 100%;
    position: fixed;
}



.my-container {
    padding-top: 2%;
    margin: 0 2% 0 2% !important;
    max-width: 96% !important;
}

.top-row {
    padding: 0.5% 0 0.5% 0;
}

#pasa-top {
    font-family: "Nasa", sans-serif !important;
    font-size: 3rem;
    /* display: none; */
    margin: -0.5rem 0 -1rem 0;
}

tr {
    line-height: 0.8;
}

#unilogo {
    font-family: "Icons", sans-serif;
    font-size: 4rem;
    padding: 0 0.2rem 0 0;
}

#uofcbox {
    padding: 0 0 0 0.1rem;
}

.content-row {
    max-height: 100%;
    max-width: 1140px;
}

.content {
    height: 480px;
    width: 1140px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.title-col {
    padding-bottom: 0 !important;
    margin-bottom: 20%;
}

.menu-page {
    width: 100%;
    height: 476px;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5% 2% 2% 2%;
    /* border-radius: 0 25px 25px 0; */
    border-radius: 10px 10px 10px 10px;
    background-color: #cacaca;
    box-shadow: 0 0 15px 10px #cacaca;
}

/* this adds fading */

.menu-page:before {
    pointer-events:none;
    content:'';
    width:97%;
    height:10%;    
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(
        to bottom,
        rgba(202, 202, 202, 1) 0%,
        rgba(202, 202, 202, 0) 10%
    );
}

.menu-page:after {
    pointer-events:none;
    content:'';
    width:97%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(
        to bottom,
        rgba(202, 202, 202, 1) 0%,
        rgba(202, 202, 202, 0) 10%,
        rgba(202, 202, 202, 0) 90%,
        rgba(202, 202, 202, 1) 100%
    );
}


p {
    text-align: justify;
    line-height: 1.8;
}

/* Change scrollbar */
.menu-page::-webkit-scrollbar {
    width: 7.5px;
}

.menu-page::-webkit-scrollbar-track {
/* margin-top: 85px; */
/* background: rgba(180, 180, 180, 0.8); */
background: rgba(180, 180, 180, 0.5);
border-radius: 15px;
}

.menu-page::-webkit-scrollbar-thumb {
/* background: #7f7f7f; */
background: #7f7f7f;
border-radius: 15px;
}

/* End change scrollbar */

.typed + span {
    animation: blink 1060ms infinite;
}

@keyframes blink {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
}

.welcome-row {
    font-size: 3rem;
    margin-top: 11%;
}

.big-text {
    font-size: 3rem;
}

/* .leftcol {
    margin-right: 4%;
} */

.pasa-row {
    font-family: "Nasa", sans-serif;
    font-size: 7rem;
    /* color: red; */
    margin-top: -3%;
    margin-bottom: 6%; 
}

.menu-row {
    margin-bottom: 10%;
}

.social-row {
    font-size: 1.5rem;
}

.bottom-con {
    margin-bottom: 1.35%;
}

/* Comment These */
/* .container {
    border: 1px solid red;
}

.mycol {
    border: 1px dashed green;
} */
/* Comment These */

/* You need this for the menu effect */
nav {
    position: relative;
    display: flex;
}

/* This is stylistic but not necessary for the menu effect */
nav a {
    position: relative;
    margin: 0 20px;
    font-size: 1em;
    color: #000;
    text-decoration: none;
}

nav #marker {
    position: absolute;
    left: 0;
    height: 1px;
    width: 0;
    background: #000;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

.navi a {
    text-decoration: none;
    color: black;
}

.navi a:hover {
    text-decoration: underline;
    color: black;
}

.navi a:active {
    text-decoration: underline;
    color: black;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
    /* letter-spacing: 20px;
    word-spacing: 30px; */
}

.top-menu {
    text-align: center;
    margin-bottom: 2%;
}

/* exec avatars */
.avatar {
    /* border: 1px solid black; */
    padding: auto !important;
    margin: 2% 0 !important;
    text-align: center;
}

.av-img {
    width: 100%;
    /* height is defined in javascript file to be same as width */
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 10%;
}

#katelynn {
    background-image: url("../media/katelynn.jpg");
}

#elijah {
    background-image: url("../media/elijah.jpg");
}

#gabby {
    background-image: url("../media/gabby.jpg");
}

#abby {
    background-image: url("../media/abby.jpg");
}

#josh {
    background-image: url("../media/josh.jpg");
}

#nic {
    background-image: url("../media/nic.jpg");
}

#faith {
    background-image: url("../media/faith.jpg");
}

#ethan {
    background-image: url("../media/ethan.jpg");
}

#jonathan {
    background-image: url("../media/jonathan.jpg");
}

#isaac {
    background-image: url("../media/isaac.jpg");
}

.avatar span {
    display: block;
    font-size: 0.8rem;
}

.avatar strong {
    font-size: 1rem;
}

hr {
    margin: 0 !important;
}