/* NASA font */
@font-face {
    font-family: 'Nasa';
    src: url('../fonts/nasa/nasa.eot');
    src: url('../fonts/nasa/nasa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nasa/nasa.woff2') format('woff2'),
        url('../fonts/nasa/nasa.woff') format('woff'),
        url('../fonts/nasa/nasa.ttf') format('truetype'),
        url('../fonts/nasa/nasa.svg#nasa') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Custom icons */
@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons/icomoon.eot');
    src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff2') format('woff2'),
        url('../fonts/icons/icomoon.woff') format('woff'),
        url('../fonts/icons/icomoon.ttf') format('truetype'),
        url('../fonts/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px !important;
    color: #1d1d1d !important;
    text-shadow: 1px 1px #dadada;
}

canvas {
    height: 100%;
    width: 100%;
    position: fixed;
}

.my-container {
    padding-top: 2%;
    margin: 0 2% 0 2% !important;
    max-width: 96% !important;
}

.top-row {
    padding: 0.5% 0 0.5% 0;
}

#pasa-top {
    font-family: "Nasa", sans-serif !important;
    font-size: 3rem;
    /* display: none; */
    margin: -0.5rem 0 -1rem 0;
}

tr {
    line-height: 0.8;
}

#unilogo {
    font-family: "Icons", sans-serif;
    font-size: 4rem;
    padding: 0 0.2rem 0 0;
}

#uofcbox {
    padding: 0 0 0 0.1rem;
}

.content-row {
    max-height: 100%;
    max-width: 1140px;
}

.content {
    height: 480px;
    width: 1140px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.title-col {
    padding-bottom: 0 !important;
    margin-bottom: 20%;
}

.menu-page {
    width: 100%;
    height: 476px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2%;
    border-radius: 0 25px 25px 0;
    background-color: #cacaca;
    box-shadow: 0 0 15px 10px #cacaca;
}

p {
    text-align: justify;
    line-height: 1.8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-page::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.menu-page {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.typed + span {
    animation: blink 1060ms infinite;
}

@keyframes blink {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
}

.welcome-row {
    font-size: 3rem;
    margin-top: 11%;
}

.big-text {
    font-size: 3rem;
}

/* .leftcol {
    margin-right: 4%;
} */

.pasa-row {
    font-family: "Nasa", sans-serif;
    font-size: 7rem;
    /* color: red; */
    margin-top: -3%;
    margin-bottom: 6%; 
}

.menu-row {
    margin-bottom: 10%;
}

.social-row {
    font-size: 1.5rem;
}

.bottom-con {
    margin-bottom: 1.35%;
}

/* Comment These */
/* .container {
    border: 1px solid red;
}

.mycol {
    border: 1px dashed green;
} */
/* Comment These */