div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  label {
	position: relative;
	display: block;
	width: 180px;
	height: 100px;
	border-radius: 100px;
	background-color: #000839;
	overflow: hidden;
	cursor: pointer;
  }
  
  label:before, label:after {
	display: block;
	position: absolute;
	content: "";
	width: 72px;
	height: 72px;
	border-radius: 50%;
	top: 14px;
	left: 14px;
	-webkit-transition: .5s ease;
	transition: .5s ease;
  }
  
  label:before {
	background-color: #ffa41b;
  }
  
  label:after {
	background-color: #000839;
	left: -58px;
	-webkit-transform: scale(0.00001);
			transform: scale(0.00001);
  }
  
  input[type="checkbox"] {
	display: none;
  }
  
  input[type="checkbox"]:checked + label:before {
	background-color: #FFF;
	-webkit-transform: translateX(80px);
			transform: translateX(80px);
  }
  
  input[type="checkbox"]:checked + label:after {
	-webkit-transform: translateX(120px) scale(1);
			transform: translateX(120px) scale(1);
  }
  /*# sourceMappingURL=style.css.map */


// night mode toggle
div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

label {
	position: relative;
	display: block;
	width: 180px;
	height: 100px;
	border-radius: 100px;
	background-color: #000839;
	overflow: hidden;
	cursor: pointer;
	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";		
		width: 72px;
		height: 72px;
		border-radius: 50%;
		top: 14px;
		left: 14px;
		transition: .5s ease;
	}
	&:before {
		background-color: #ffa41b;

	}

	&:after {
		background-color: #000839;
		left: -58px;
		transform: scale(0.00001);
	}
}

input[type="checkbox"] {
	display: none;
	&:checked + label {
		&:before {
			background-color: #FFF;
			transform: translateX(80px);
		}
		
		&:after {
			transform: translateX(120px) scale(1);
		}
	}
}